
.desktop-icon {
  width: 100px;
  text-align: center;
  background: none;
  border: none;
  display: block;
  position: absolute;
  
  &__img {
    height: 50px;
    margin-bottom: 5px;
  }

  &__label {
    color: #ffffff;
  }
}

.window {
  background: url('img/window.png') transparent no-repeat;
  background-size: contain;
  width: 790px;
  height: 550px;
  z-index: 2;
  padding: 55px 4px 25px 7px;
  box-sizing: border-box;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  &__content {
    height: 100%;
    width: 100%;
    background: #ffffff;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    padding: 6px 5px 8px;
    
    &__handle {
      width: 87%;
      height: 100%;
      float: left;
      color: #fff;
      font-size: 12px;
      padding: 3px 22px;
    }
    
    &__actions {
      width: 50px;
      height: 28px;
      float: right;
      
      button {
        width: 100%;
        height: 100%;
        background: none;
        border: 0;
      }
    }
  }
}

.snake {
  background-color: #202020;
  color: #2dc32d;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;

  &__game {
    display: block;
    font-family: monospace;
    white-space: pre;
    width: 460px;
    height: 435px;
    margin: 0;
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      top: -4px;
      right: 14px;
      bottom: -4px;
      left: 0px;
      border: 1px solid #2dc32d;
    }
  }
}


.snake-menu {
  position: absolute;
  top: 53px;
  right: 26px;
  bottom: 33px;
  left: 7px;
  background: rgba(0,0,0,.65);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__heading {
    color: #fff;
  }
  
  &__button {
    background: green;
    color: #fff;
    padding: 8px 14px;
    text-transform: uppercase;
  }
}



.internet-explorer {
  background: url('img/ie-frame.png') transparent no-repeat;
  background-size: cover;
  width: 1100px;
  height: 755px;
  z-index: 2;
  padding: 164px 6px 50px 5px;
  box-sizing: border-box;

  iframe {

  }
  
  &__handle {
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__input {
    position: absolute;
    left: 107px;
    top: 135px;
    border: 0;
    height: 26px;
    font-size: 15px;
    width: 73%;
  }

  &__close {
    top: 10px;
    right: 10px;
    width: 29px;
    height: 26px;
    position: absolute;
    background: 0;
    border: 0;
    padding: 0;
  }
 
  &__go {
    position: absolute;
    background: 0;
    border: 0;
    padding: 0;
    top: 132px;
    right: 77px;
    height: 32px;
    width: 80px;
  }

  iframe, 
  &__browser {
    background: #eee;
    width: 100%;
    height: 100%;
  }
}
  

/* 
.app-desktop__icon--ie {
  top: 20px;
  left: 20px;
}

.app-desktop__icon--folder {
  top: 100px;
  left: 20px;
}

.app-desktop__icon--trash {
  top: 170px;
  left: 20px;
} */

.blue-screen,
.finished-screen,
.blue-screen--loading,
.login-screen,
.loading-screen {
  z-index: 2;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}

.blue-screen--loading {
  background: transparent;
  cursor: progress;

  * {
    cursor: progress;
  }
}

.blue-screen {
  background: #0500ad; 
}

.congratz-close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

.congratz {
  position: absolute;
  color: #ffffff;
  text-align: center;

  a {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    // text-decoration: none;
  }
}

.login-screen {
  background: #00309c; 

  &--loading * {
    cursor: progress;
  }
}

.treasure { 
  background: #000000;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--loading,
  &--loading * {
    cursor: progress;
  }

  &__completed-challenges,
  &__correct {
    color: #2dea2d;
    text-align: center;
  }

  &__input {
    display: block;
    overflow: hidden;
    margin: 15px;

    input {
      border: 0;
      padding: 0 8px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      color: #fff;
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 44px;
      float: left;
      width: 250px;
    }

    button {
      padding: 0 14px;
      background: #006900;
      border: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      height: 44px;
      float: left;
    }
  }
}

.app-teamname {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  color: #fff;
}

.app-footer {
  background: rgb(39,106,221);
  background: linear-gradient(90deg, rgba(39,106,221,1) 0%, rgba(33,92,217,1) 50%, rgba(29,78,194,1) 100%);
  box-shadow: inset 0px 2px 2px 2px rgba(255, 255, 255, 0.2);
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 5px;

  &__time {
    position: absolute;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
  }

  &__start {
    position: relative;
    float: left;
  }
  
  &__start__menu {
    position: absolute;
    bottom: 31px;
    left: 0;
    background: #c0c0c0;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.75);
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;

    &:before {
      content: " ";
      border-left: 40px solid #808080;
      top: 0;
      left: 0;
      bottom: 1px;
      width: 30px;
      position: absolute;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0px 0;
      width: 300px;
      padding-left: 40px;

      li {
        padding: 14px;
        font-size: 12px;

        &:hover {
          background: #020080;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  
  &__start-button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: #53a059;
    background: linear-gradient(90deg, #53a059 0%, #67ad67 50%, #4f9b48 100%);
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-transform: lowercase;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px 24px 5px 12px;
    box-shadow: inset 0 0 8px 4px rgba(0,0,0,.15);
    
    &:hover {
      background: darken(#53a059, 5%);
      background: linear-gradient(90deg, darken(#53a059, 5%) 0%, darken(#67ad67, 5%) 50%, darken(#4f9b48, 5%) 100%);
    }
    &__img {
      width: 27px;
      margin-right: 5px;
      background: none;
    }
    &__text {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.paint {
  cursor: crosshair;
}

.CodeMirror,
.ReactCodeMirror,
.code {
  height: 100%;

  * {
   font-family: arial, sans-serif;
  }
}

.login {
  position: absolute;
  left: 60%;
  top: 50%;
  width: 300px;
  margin-left: -149px;
  height: 66px;
  margin-top: -33px;

  &__label {
    color: #ffffff;
    display: block;
  }

  &__input {
    height: 35px;
    border: 0;
    border-radius: 3px;
    width: 220px;
    margin-top: 10px;
    padding: 0 6px;
  }

  &__button {
    background: #53a059;
    background: linear-gradient(90deg, #53a059 0%, #67ad67 50%, #4f9b48 100%);
    color: #ffffff;
    padding: 10px;
    border: 0;
    margin-left: 10px;
    border-radius: 3px;
  }
}