* {
  box-sizing: border-box;
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

body {
  height: 100vh;
  background: url('img/w95-bg.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
